body{
    background: #a9cdd4;
}
h3{
    margin-top: 15px;
}

.footer{ 
    position: fixed;     
    text-align: center;    
    bottom: 5px; 
    width: 100%;
}  

.related-left {
    width: 25%;
    float: left;
    overflow: auto;
}

.related-middle {
    width: 50%;
    float: left;
    overflow: auto;
}

.related-right {
    width: 25%;
    float: left;
    overflow: auto;
}